{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show" role="success" data-bs-dismiss="success">
  <p class= 'text-center'><strong>Hi {{user.first_name}}!</strong> Your password has been reset successfully.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %} 


<div class="container my-5">
 <div class="row">
  <div class="col-sm-9 offset-sm-1">
   <h1>Password Reset Done</h1><br><br>
   <p>
We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.


</p>

  </div>
 </div>
</div>
{% endblock main-content %}