{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
  <div class="col-sm-9 offset-sm-1 text-center">
   <h1>Password reset sucessful!</h1>
   <div><img src="{% static 'app/images/accounts/1.jpg' %}" alt=""></div>
   <h1><a href="{% url 'login' %}">Login Here</a> <h1>to continue...</h1>
  </div>
  </div>
  </div>
  </div>
 
{% endblock main-content %}
  