{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show" role="success" data-bs-dismiss="success">
  <p class= 'text-center'><strong>Hi {{user.first_name}}!</strong> Your password has been changed successfully.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %} 


<div class="container my-5">
 <div class="row">
  
  <div class="col-sm-2 border-end">
  <ul class="list-unstyled">
   <div id="list-example" class="list-group">
   <div class="d-grid gap-2 col-6 mx-auto">
   <li class="list-group-item list-group-item-action"><a class="btn" href="{% url 'profile' %}">Profile</a></li>
  <li class="list-group-item list-group-item-action"><a class="btn" href="{% url 'orders' %}">Orders</a></li>
  <li class="list-group-item list-group-item-action"><a class="btn" href="{% url 'editprofile' %}">Edit Profile</a></li>
  <li class="list-group-item list-group-item-action"><a class="btn {{active}}" href="{% url 'changepassword' %}">Change Password</a></li
</div>
</div>
</ul>
</div>
  <div class="col-sm-8">
  <h3>Change Password</h3><hr><br>
   <form action="" class='text-justify offset-sm-1' method="POST" class="shadow p-5">
    {% csrf_token %}
    {% for fm in form %}
    <div class='form-group'>
    {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br>
    </div>
    {% endfor %}
    <div class="text-end text-center my-3">
     <input type="submit" value=Submit class="btn btn-danger">
    </div>
    <br>
    <div class="text-center text-primary fw-bold"><small>Forget your Password? <a href="{% url 'login' %}"
       class="text-danger"> Reset Password</a> </small></div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}